#projects {
  align-items: center;
  background: #2f4858;
  padding: 2em;
}

.projects-sectionTitle {
  font-size: 76px;
  font-weight: 700;
  color: #ffbc0a;
  text-align: center;
  text-shadow: 4px 4px 16px rgba(0, 0, 0, 0.3);
  border-bottom: 5px solid #ffbc0a;
  padding-bottom: 3px;
}

.projects-container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  padding: 2vw;
}

.project-text {
  text-align: left;
  color: #fff;
  font-size: 1.5vw;
}

.project-title {
  font-size: 30px;
  font-weight: 700;
  color: #ffbc0a;
  text-shadow: 4px 4px 16px rgba(0, 0, 0, 0.3);
  margin-bottom: 0.5em;
}

.project-info {
  font-size: 22px;
  padding-top: 1vh;
  padding-bottom: 3vh;
  margin-block-start: -1.75vw;
  margin-right: 5vw;
}

.project-info > a {
  color: #fff;
  text-decoration: none;
}

.project-info > a:hover {
  text-decoration: underline;
}

.see-live:link,
.see-live:visited {
  margin-right: 1.5em;
  padding: 0.5em;
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
  box-shadow: 3px 3px 6px 6px rgba(50, 50, 70, 0.3);
  border-radius: 0.25em;
  color: #ffbc0a;
  background-color: #2f4858;
}

.see-live:hover {
  background-color: rgba(169, 169, 169, 0.3);
  transition: 200ms all ease-in-out;
}

.source-code:link,
.source-code:visited {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.source-code:hover {
  color: #ffbc0a;
  text-decoration: underline;
  cursor: pointer;
}

.card {
  padding: 0.25em 0.25em 0em 0.25em;
  box-shadow: 6px 6px 12px 12px rgba(50, 50, 50, 0.7);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: center;
  background-color: #fff;
}

@media screen and (max-width: 600px) {
  .projects-sectionTitle {
    font-size: 36px;
  }
  .project-title {
    font-size: 18px;
  }
  .project-info,
  .see-live:link,
  .see-live:visited,
  .source-code:link,
  .source-code:visited {
    font-size: 14px;
  }
  .see-live:link,
  .see-live:visited {
    margin-right: 0.75em;
  }

  .project-image {
    width: 64px;
    height: 64px;
  }
}
