#projects {
  align-items: center;
  background: #2f4858;
  padding: 3vw 3vw 0vw 3vw;
}

.projects-sectionTitle {
  font-size: 5.5vw;
  font-weight: 700;
  color: #ffbc0a;
  margin: 0;
  text-align: center;
}

.projects-container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1vw;
  margin-bottom: 3vw;
}

.project-text {
  text-align: left;
  color: #fff;
  font-size: 1.5vw;
}

.project-title {
  font-size: 2.5vw;
  font-weight: 700;
  padding-bottom: 1vw;
  color: #ffbc0a;
}

.project-info {
  font-size: 1.75vw;
  padding-bottom: 1vw;
  margin-block-start: -1.75vw;
  margin-right: 5vw;
}

.project-info > a {
  color: #fff;
  text-decoration: none;
}

.project-info > a:hover {
  text-decoration: underline;
}

.see-live:link,
.see-live:visited {
  margin-right: 1.5em;
  padding: 0.5em;
  text-decoration: none;
  font-size: 1.25em;
  font-weight: 500;
  border: none;
  outline: none;
  box-sizing: border-box;
  box-shadow: 6px 6px 12px 12px rgba(50, 50, 70, 0.3);
  border-radius: 0.25em;
  color: #ffbc0a;
  background-color: #2f4858;
}

.see-live:hover {
  background-color: rgba(169, 169, 169, 0.3);
  transition: 200ms all ease-in-out;
}

.source-code:link,
.source-code:visited {
  font-size: 1.15em;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.source-code:hover {
  color: #ffbc0a;
  text-decoration: underline;
}

.card {
  margin: 1em;
  padding: 0.25em;
  box-shadow: 6px 6px 12px 12px rgba(50, 50, 50, 0.7);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: center;
  background-color: #fff;
  margin-bottom: 0;
}
