#title {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: left;
  background: #2f4858;
  color: #ffbc0a;
  padding: 3vw;
}

.title-sectionTitle {
  font-size: 3.5vw;
  font-weight: 700;
  margin-bottom: 3vw;
  letter-spacing: 0.05vw;
}

.title-btn {
  border: none;
  outline: none;
  color: #ffbc0a;
  background-color: transparent;
  box-sizing: border-box;
  box-shadow: 6px 6px 12px 12px rgba(50, 50, 70, 0.3);
  border-radius: 0.25em;
  padding: 0.3em 1.2em;
  cursor: pointer;
  font-size: 2vw;
  margin-right: 3em;
}

.title-btn:hover {
  background-color: rgba(169, 169, 169, 0.3);
  transition: 200ms all ease-in-out;
}

.buttons-title {
  display: flex;
}
