#title {
  height: 100vmin;
  background: #2f4858;
  color: #ffbc0a;
  padding: 2.5vmax;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5vmin;
}

.title-profile-img {
  padding: 2.5vmin;
}

.title-profile-img > img {
  width: 30vmin;
  height: 30vmin;
  border-radius: 50%;
}

.title-sectionTitle {
  font-weight: 700;
  font-size: 5vmax;
  padding-bottom: 3vmin;
  padding-left: 3vmin;
}

.title-btn {
  border: none;
  outline: none;
  color: #ffbc0a;
  background-color: transparent;
  box-shadow: 3px 3px 6px 6px rgba(50, 50, 70, 0.3);
  border-radius: 0.25em;
  padding: 0.5em 1em;
  cursor: pointer;
  font-size: 3vmax;
  display: flex;
  align-items: center;
}

.title-btn:hover {
  background-color: rgba(169, 169, 169, 0.3);
  transition: 200ms all ease-in-out;
}

.buttons-title {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 600px) {
  #title {
    height: 75vmax;
  }
  
  .title-sectionTitle {
    font-size: 2vmax;
  }
  .title-btn {
    font-size: 2vmax;
  }

  .buttons-title {
    justify-content: space-between;
  }
}
