#title {
    min-height: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: left;
    background: #fff;
    color: rgb(15, 150, 15);
    padding: 0rem 5rem;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
    letter-spacing: 0.025em;
}

.title-btn {
    border: none;
    outline: none;
    color: rgb(15, 150, 15);
    background-color: transparent;
    box-sizing: border-box;
    box-shadow: 3px 3px 6px 6px rgba(50, 50, 70, 0.3);
    border-radius: 0.25em;
    padding: 0.3em 1.2em;
    cursor: pointer;
    font-size: 1.5rem;
    margin-right: 3rem;
    
}

.title-btn:hover {
    background-color: rgba(169, 169, 169, 0.3);
    transition: 200ms all ease-in-out;
}