.about {
  height: 100vh;
  background: linear-gradient(0deg, #008878 0%, #2f4858 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  margin: 0.25em;
  font-weight: 700;
  color: #ffbc0a;
  font-size: 3.5em;
  text-shadow: 4px 4px 16px rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid #ffbc0a;
}

.about-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile-image {
  filter: brightness(120%);
}

.about-info-text {
  color: #fff;
  font-size: 1.4em;
  padding: 2em 0 1em 2em;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
}

.about-btn {
  border: none;
  outline: none;
  color: #ffbc0a;
  background-color: transparent;
  box-shadow: 1px 1px 3px 3px rgba(50, 50, 70, 0.3);
  border-radius: 0.25em;
  padding: 0.5em 1.25em;
  cursor: pointer;
  font-size: 22px;
}

.about-btn:hover {
  background-color: #fff;
  color: #2f4858;
  transition: 200ms all ease-in-out;
}

.about-info-text > a {
  text-decoration: none;
  color: white;
}

.about-info-text > a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .section-title {
    font-size: 2.5em;
  }

  .about-container,
  .about-info-text,
  .about-btn {
    font-size: 1em;
  }

  .profile-image {
    width: 76%;
    height: 76%;
  }
}
