#about {
  min-height: 100vh;
  background: linear-gradient(0deg, #008878 0%, #2f4858 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.section-title {
  font-size: 5.5vw;
  font-weight: 700;
  color: #ffbc0a;
  text-shadow: 1.5px 3px rgba(83, 83, 83, 0.7);
}

.about-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile-image {
  filter: brightness(120%);
}

.about-info {
  font-size: 1.75vw;
}

.about-info-text {
  color: #fff;
  padding: 5vh;
}

.buttons {
  display: flex;
  justify-content: center;
}

.about-btn {
  border: none;
  outline: none;
  color: #ffbc0a;
  background-color: transparent;
  box-shadow: 1px 1px 3px 3px rgba(50, 50, 70, 0.3);
  border-radius: 0.25em;
  padding: 0.5em 1.25em;
  cursor: pointer;
  font-size: 1.75vw;
  margin: 2vh;
}

.about-btn:hover {
  background-color: #fff;
  color: #2f4858;
  transition: 200ms all ease-in-out;
}
