#contact {
  align-items: center;
  background: #444444;
  display: flex;
  flex-direction: column;
  padding: 10vh;
}

.contact-title {
  display: flex;
  font-size: 76px;
  font-weight: 700;
  color: #ffbc0a;
  text-shadow: 4px 4px 16px rgba(0, 0, 0, 0.3);
  border-bottom: 5px solid #ffbc0a;
}

.email {
  font-size: 22px;
  padding-top: 5vh;
}

.email-link:link,
.email-link:visited {
  color: #fff;
  text-decoration: none;
}

.email-link:hover {
  border-bottom: 2px solid #fff;
}

.social-links {
  display: flex;
  align-items: center;
  padding-top: 5vh;
}

.github {
  padding-left: 2.5vw;
}

@media screen and (max-width: 600px) {
  .contact-title {
    font-size: 36px;
  }
  .email {
    font-size: 14px;
  }
}
